.container-entrada-nome{
    margin-top: 20px;
}
.titulo{
    background-color: #CCCCCC;
    width: 320px;
    height: 30px;
    text-align: center;
    line-height: 30px;    
}

.container-saida-pai{
    margin-top: -10px;
    line-height: 30px;
    height: 30px;
    display: flex;
    width: 320px;
    background-color: #DDDDDD;   
}

.container-nome-pai{

    width: 200px;
    margin-left: 5px;
}

.container-botao-pai{

    margin:0 auto;
    width: 50px;
}

.container-saida-filho{
    margin-top: 5px;
    line-height: 30px;
    height: 45px;
    display: flex;
    width: 320px;
    background-color: #EEEEEE;   
}

.container-nome-filho{

    width: 185px;
    margin-left: 20px;
    line-height: 50px;
}

.container-botao-filho{

    margin:0 auto;
    width: 50px;
}

.container-botao-add-filho{
    width: 320px;
    margin-top: 5px;
    text-align: center;
}

.container-json{
    margin-top: 80px;
    margin-left: 30px;
}

.text-area{
    height: 400px;
    width: 800px;
}

body{
    display: flex;
}